In [1]:
import os
from datetime import datetime,timedelta
import sys
from importlib import reload 
from sklearn.model_selection import train_test_split 
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

from steps.data_ingestion import *
from steps.data_inspection import *
from steps.data_visualization import *
from steps.data_analysis import *
from steps.missing_values_handling import *
from steps.data_encoding import *


from feast import FeatureStore

import mlflow
from mlflow.models import infer_signature
from mlflow.sklearn import log_model, load_model

import bentoml
from bentoml import HTTPServer

C:\Users\mkrym\AppData\Local\Temp\ipykernel_4568\1028265679.py:27: BentoMLDeprecationWarning: `bentoml.HTTPServer` is moved to `bentoml.legacy.HTTPServer` and will be removed in a future version.
  from bentoml import HTTPServer
C:\Python312\Lib\importlib\__init__.py:90: DeprecationWarning: bentoml.server module is deprecated, use bentoml.serve() instead.
  return _bootstrap._gcd_import(name[level:], package, level)

In [2]:
# Data ingest 

file_path = "C:\\Users\\mkrym\\Downloads\\archive.zip"

Ingestor = DataIngestorFactory.get_data_ingestor(file_path)   
df = Ingestor.ingest(file_path)
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [3]:
# Initialize inspector and execute
inspector = DataInspector()
results = inspector.execute_all_strategies(df)

# Generate and print report
report = inspector.generate_report("inspection_report.txt")
print(report)

2025-08-28 06:01:28,297 - INFO - Executing all inspection strategies
2025-08-28 06:01:28,302 - INFO - Performing data type inspection
2025-08-28 06:01:28,302 - INFO - Performing data type inspection
2025-08-28 06:01:28,317 - INFO - Generating summary statistics
2025-08-28 06:01:28,317 - INFO - Generating summary statistics
2025-08-28 06:01:28,420 - INFO - Analyzing missing values
2025-08-28 06:01:28,435 - INFO - Detecting outliers
2025-08-28 06:01:28,420 - INFO - Analyzing missing values
2025-08-28 06:01:28,435 - INFO - Detecting outliers
2025-08-28 06:01:28,496 - INFO - Checking for duplicates
2025-08-28 06:01:28,496 - INFO - Checking for duplicates
2025-08-28 06:01:28,529 - INFO - Analyzing data distributions
2025-08-28 06:01:28,529 - INFO - Analyzing data distributions
2025-08-28 06:01:28,574 - INFO - Generating inspection report
2025-08-28 06:01:28,590 - INFO - Report saved to inspection_report.txt
2025-08-28 06:01:28,574 - INFO - Generating inspection report
2025-08-28 06:01:28,590 - INFO - Report saved to inspection_report.txt

Data Inspection Report - 2025-08-28 06:01:28
================================================================================

DataType:
--------------------------------------------------
Data Types:
  price: int64
  area: int64
  bedrooms: int64
  bathrooms: int64
  stories: int64
  mainroad: object
  guestroom: object
  basement: object
  hotwaterheating: object
  airconditioning: object
  parking: int64
  prefarea: object
  furnishingstatus: object
Type Summary:
  object: 7
  int64: 6

SummaryStatistics:
--------------------------------------------------
Numerical Summary:
  count: {'price': 545.0, 'area': 545.0, 'bedrooms': 545.0, 'bathrooms': 545.0, 'stories': 545.0, 'parking': 545.0}
  mean: {'price': 4766729.247706422, 'area': 5150.54128440367, 'bedrooms': 2.9651376146788992, 'bathrooms': 1.2862385321100918, 'stories': 1.8055045871559634, 'parking': 0.6935779816513762}
  std: {'price': 1870439.6156573922, 'area': 2170.141022508803, 'bedrooms': 0.7380638605685743, 'bathrooms': 0.5024696160532146, 'stories': 0.8674924629255264, 'parking': 0.8615857504605412}
  min: {'price': 1750000.0, 'area': 1650.0, 'bedrooms': 1.0, 'bathrooms': 1.0, 'stories': 1.0, 'parking': 0.0}
  25%: {'price': 3430000.0, 'area': 3600.0, 'bedrooms': 2.0, 'bathrooms': 1.0, 'stories': 1.0, 'parking': 0.0}
  50%: {'price': 4340000.0, 'area': 4600.0, 'bedrooms': 3.0, 'bathrooms': 1.0, 'stories': 2.0, 'parking': 0.0}
  75%: {'price': 5740000.0, 'area': 6360.0, 'bedrooms': 3.0, 'bathrooms': 2.0, 'stories': 2.0, 'parking': 1.0}
  max: {'price': 13300000.0, 'area': 16200.0, 'bedrooms': 6.0, 'bathrooms': 4.0, 'stories': 4.0, 'parking': 3.0}
Categorical Summary:
  count: {'mainroad': 545, 'guestroom': 545, 'basement': 545, 'hotwaterheating': 545, 'airconditioning': 545, 'prefarea': 545, 'furnishingstatus': 545}
  unique: {'mainroad': 2, 'guestroom': 2, 'basement': 2, 'hotwaterheating': 2, 'airconditioning': 2, 'prefarea': 2, 'furnishingstatus': 3}
  top: {'mainroad': 'yes', 'guestroom': 'no', 'basement': 'no', 'hotwaterheating': 'no', 'airconditioning': 'no', 'prefarea': 'no', 'furnishingstatus': 'semi-furnished'}
  freq: {'mainroad': 468, 'guestroom': 448, 'basement': 354, 'hotwaterheating': 520, 'airconditioning': 373, 'prefarea': 417, 'furnishingstatus': 227}

MissingValues:
--------------------------------------------------
Missing Counts:
  price: 0
  area: 0
  bedrooms: 0
  bathrooms: 0
  stories: 0
  mainroad: 0
  guestroom: 0
  basement: 0
  hotwaterheating: 0
  airconditioning: 0
  parking: 0
  prefarea: 0
  furnishingstatus: 0
Missing Percentage:
  price: 0.00%
  area: 0.00%
  bedrooms: 0.00%
  bathrooms: 0.00%
  stories: 0.00%
  mainroad: 0.00%
  guestroom: 0.00%
  basement: 0.00%
  hotwaterheating: 0.00%
  airconditioning: 0.00%
  parking: 0.00%
  prefarea: 0.00%
  furnishingstatus: 0.00%

OutlierDetection:
--------------------------------------------------
Outliers:
  price: {'outlier_count': 15, 'outlier_values': [13300000, 12250000, 12250000, 12215000, 11410000, 10850000, 10150000, 10150000, 9870000, 9800000, 9800000, 9681000, 9310000, 9240000, 9240000], 'lower_bound': np.float64(-35000.0), 'upper_bound': np.float64(9205000.0)}
  area: {'outlier_count': 12, 'outlier_values': [16200, 13200, 11440, 11175, 13200, 12090, 15600, 11460, 11410, 10700, 12900, 12944], 'lower_bound': np.float64(-540.0), 'upper_bound': np.float64(10500.0)}
  bedrooms: {'outlier_count': 12, 'outlier_values': [5, 5, 5, 5, 6, 5, 5, 5, 5, 5, 6, 5], 'lower_bound': np.float64(0.5), 'upper_bound': np.float64(4.5)}
  bathrooms: {'outlier_count': 1, 'outlier_values': [4], 'lower_bound': np.float64(-0.5), 'upper_bound': np.float64(3.5)}
  stories: {'outlier_count': 41, 'outlier_values': [4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4], 'lower_bound': np.float64(-0.5), 'upper_bound': np.float64(3.5)}
  parking: {'outlier_count': 12, 'outlier_values': [3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3], 'lower_bound': np.float64(-1.5), 'upper_bound': np.float64(2.5)}

DuplicateDetection:
--------------------------------------------------
Duplicate Count:
  0
Duplicate Rows:
  price: {}
  area: {}
  bedrooms: {}
  bathrooms: {}
  stories: {}
  mainroad: {}
  guestroom: {}
  basement: {}
  hotwaterheating: {}
  airconditioning: {}
  parking: {}
  prefarea: {}
  furnishingstatus: {}

DataDistribution:
--------------------------------------------------
Distributions:
  price: {'skewness': 1.2088998457878217, 'kurtosis': 1.9312045083457265, 'is_normal': np.False_}
  area: {'skewness': 1.3175492613408553, 'kurtosis': 2.715312998249229, 'is_normal': np.False_}
  bedrooms: {'skewness': 0.4943186286589377, 'kurtosis': 0.7106691450351841, 'is_normal': np.False_}
  bathrooms: {'skewness': 1.5848861097619922, 'kurtosis': 2.134057336908815, 'is_normal': np.False_}
  stories: {'skewness': 1.0791077858970946, 'kurtosis': 0.6621980006219945, 'is_normal': np.False_}
  parking: {'skewness': 0.8397429574715471, 'kurtosis': -0.5788075674955611, 'is_normal': np.False_}

In [4]:
# Sample inspection results (in practice, these would come from data_inspection.py)
inspection_results = {
    'MissingValues': {
        'missing_counts': df.isnull().sum().to_dict(),
        'missing_percentage': (df.isnull().sum() / len(df) * 100).to_dict()
    },
    'CorrelationAnalysis': {
        'correlations': df.select_dtypes(include=['float64', 'int64']).corr().to_dict()
    }
}

# Initialize visualizer and execute
visualizer = DataVisualizer()
visualizer.execute_all_visualizations(df, inspection_results)

2025-08-28 06:01:28,654 - INFO - Executing all visualization strategies
2025-08-28 06:01:28,658 - INFO - Running visualization: MissingValuesVisualization

2025-08-28 06:01:28,661 - INFO - Visualizing missing values
2025-08-28 06:01:29,406 - INFO - Missing values plot saved as 'missing_values.png'
2025-08-28 06:01:29,410 - INFO - Running visualization: NumericalDistributionVisualization
2025-08-28 06:01:29,411 - INFO - Visualizing data distributions
2025-08-28 06:01:29,805 - INFO - Distribution plot for price saved as 'distribution_price.png'
2025-08-28 06:01:30,305 - INFO - Distribution plot for area saved as 'distribution_area.png'
2025-08-28 06:01:30,780 - INFO - Distribution plot for bedrooms saved as 'distribution_bedrooms.png'
2025-08-28 06:01:31,244 - INFO - Distribution plot for bathrooms saved as 'distribution_bathrooms.png'
2025-08-28 06:01:31,522 - INFO - Distribution plot for stories saved as 'distribution_stories.png'
2025-08-28 06:01:31,802 - INFO - Distribution plot for parking saved as 'distribution_parking.png'
2025-08-28 06:01:31,803 - INFO - Running visualization: CategoricalDistributionVisualization
2025-08-28 06:01:31,804 - INFO - Visualizing categorical distributions
2025-08-28 06:01:32,047 - INFO - Categorical distribution plot for mainroad saved as 'categorical_distribution_mainroad.png'
2025-08-28 06:01:32,287 - INFO - Categorical distribution plot for guestroom saved as 'categorical_distribution_guestroom.png'
2025-08-28 06:01:32,816 - INFO - Categorical distribution plot for basement saved as 'categorical_distribution_basement.png'
2025-08-28 06:01:33,159 - INFO - Categorical distribution plot for hotwaterheating saved as 'categorical_distribution_hotwaterheating.png'
2025-08-28 06:01:33,442 - INFO - Categorical distribution plot for airconditioning saved as 'categorical_distribution_airconditioning.png'
2025-08-28 06:01:33,717 - INFO - Categorical distribution plot for prefarea saved as 'categorical_distribution_prefarea.png'
2025-08-28 06:01:33,978 - INFO - Categorical distribution plot for furnishingstatus saved as 'categorical_distribution_furnishingstatus.png'
2025-08-28 06:01:33,980 - INFO - Running visualization: CorrelationHeatmapVisualization
2025-08-28 06:01:33,983 - INFO - Visualizing correlation matrix
2025-08-28 06:01:34,590 - INFO - Correlation heatmap saved as 'correlation_heatmap.png'

In [5]:
DataAnalysis = DataAnalyzer()  
results = DataAnalysis.execute_all_strategies(df)
results

2025-08-28 06:01:34,607 - INFO - Using strategy: CorrelationAnalysis
2025-08-28 06:01:34,610 - INFO - Performing correlation analysis
2025-08-28 06:01:34,617 - INFO - Using strategy: CardinalityAnalysis
2025-08-28 06:01:34,610 - INFO - Performing correlation analysis
2025-08-28 06:01:34,617 - INFO - Using strategy: CardinalityAnalysis
2025-08-28 06:01:34,618 - INFO - Analyzing cardinality of categorical columns

{'CorrelationAnalysis': {'correlations': {'price': {'price': 1.0,
    'area': 0.5359973457780797,
    'bedrooms': 0.36649402577386964,
    'bathrooms': 0.517545339455012,
    'stories': 0.42071236618861724,
    'parking': 0.38439364863572645},
   'area': {'price': 0.5359973457780797,
    'area': 1.0,
    'bedrooms': 0.1518584855745371,
    'bathrooms': 0.1938195310520531,
    'stories': 0.08399605092891993,
    'parking': 0.35298048121168235},
   'bedrooms': {'price': 0.36649402577386964,
    'area': 0.1518584855745371,
    'bedrooms': 1.0,
    'bathrooms': 0.37393023597215413,
    'stories': 0.4085642375381521,
    'parking': 0.139269896865613},
   'bathrooms': {'price': 0.517545339455012,
    'area': 0.1938195310520531,
    'bedrooms': 0.37393023597215413,
    'bathrooms': 1.0,
    'stories': 0.32616470613294235,
    'parking': 0.17749582102283437},
   'stories': {'price': 0.42071236618861724,
    'area': 0.08399605092891993,
    'bedrooms': 0.4085642375381521,
    'bathrooms': 0.32616470613294235,
    'stories': 1.0,
    'parking': 0.045547091916846645},
   'parking': {'price': 0.38439364863572645,
    'area': 0.35298048121168235,
    'bedrooms': 0.139269896865613,
    'bathrooms': 0.17749582102283437,
    'stories': 0.045547091916846645,
    'parking': 1.0}}},
 'CardinalityAnalysis': {'cardinality': {'mainroad': {'unique_count': 2,
    'unique_values_sample': ['yes', 'no'],
    'high_cardinality': False},
   'guestroom': {'unique_count': 2,
    'unique_values_sample': ['no', 'yes'],
    'high_cardinality': False},
   'basement': {'unique_count': 2,
    'unique_values_sample': ['no', 'yes'],
    'high_cardinality': False},
   'hotwaterheating': {'unique_count': 2,
    'unique_values_sample': ['no', 'yes'],
    'high_cardinality': False},
   'airconditioning': {'unique_count': 2,
    'unique_values_sample': ['yes', 'no'],
    'high_cardinality': False},
   'prefarea': {'unique_count': 2,
    'unique_values_sample': ['yes', 'no'],
    'high_cardinality': False},
   'furnishingstatus': {'unique_count': 3,
    'unique_values_sample': ['furnished', 'semi-furnished', 'unfurnished'],
    'high_cardinality': False}}}}

Since our data doesnt have any missing values so we just skip this part and move on

In [6]:
# DataMissingValues = MissingValuesProcessor(df)
# DataMissingValues.set_strategy(DropMissingValues())
# DataMissingValues.execute()

=======================================

Data Preprocessing

=======================================

In [7]:
# Select categorical binary and nominal columns for encoding
cat_cols = df.select_dtypes(include=['object']).columns.tolist()
binary_cols = [col for col in cat_cols if df[col].nunique() == 2]
categorical_cols = [col for col in cat_cols if df[col].nunique() > 2]

numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns.tolist()

In [8]:
print("Categorical Binary Columns:", binary_cols)
print("Categorical Nominal Columns:", categorical_cols)
print("Numerical Columns:", numerical_cols)

Categorical Binary Columns: ['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'prefarea']
Categorical Nominal Columns: ['furnishingstatus']
Numerical Columns: ['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'parking']

In [9]:
# Create timestamps 
timestamps = pd.date_range(
    start=pd.Timestamp.now(), 
    end=pd.Timestamp.now() + pd.DateOffset(days=30), 
    periods=len(df)
).to_frame(name="event_timestamp", index=False)

df["event_timestamp"] = timestamps.event_timestamp
df["house_id"] = range(1, len(df) + 1)  # Assign unique IDs to each house

<!-- Prepare the dataset for the feature store (Feast) -->

In [10]:
# Splitting the dataset into features (X) and target (y)
X = df.drop(columns=['price'])
y = pd.DataFrame(df[['house_id', 'event_timestamp', 'price']])

# Display the first few rows of the preprocessed features
X.head(), y.head()

(   area  bedrooms  bathrooms  stories mainroad guestroom basement  \
 0  7420         4          2        3      yes        no       no
 1  8960         4          4        4      yes        no       no
 2  9960         3          2        2      yes        no      yes
 3  7500         4          2        2      yes        no      yes
 4  7420         4          1        2      yes       yes      yes

   hotwaterheating airconditioning  parking prefarea furnishingstatus  \
 0              no             yes        2      yes        furnished
 1              no             yes        3       no        furnished
 2              no              no        2      yes   semi-furnished
 3              no             yes        3      yes        furnished
 4              no             yes        2       no        furnished

                 event_timestamp  house_id
 0 2025-08-28 06:01:34.824261000         1
 1 2025-08-28 07:20:59.530150713         2
 2 2025-08-28 08:40:24.236040426         3
 3 2025-08-28 09:59:48.941930139         4
 4 2025-08-28 11:19:13.647819852         5  ,
    house_id               event_timestamp     price
 0         1 2025-08-28 06:01:34.824261000  13300000
 1         2 2025-08-28 07:20:59.530150713  12250000
 2         3 2025-08-28 08:40:24.236040426  12250000
 3         4 2025-08-28 09:59:48.941930139  12215000
 4         5 2025-08-28 11:19:13.647819852  11410000)

In [11]:
# Save to postgresSQL
import sqlalchemy as db

# Create a database connection
connection_string ='postgresql+psycopg://postgres:root@localhost:5432/house_price_predictor'

engine = db.create_engine(connection_string)

# Save the features and target dataframes to the database
X.to_sql('house_features', engine, if_exists='replace', index=False)
y.to_sql('house_target', engine, if_exists='replace', index=False)

-1

In [12]:
# store the dataset for later cases
X.to_parquet("./feature_store/data/house_features.parquet", index=False)
y.to_parquet("./feature_store/data/house_target.parquet", index=False)

======================================

Feature store

======================================

In [13]:
from feature_store.feature_store import FeastFeatureStore

feast = FeastFeatureStore(path=os.path.join(os.getcwd() + "/feature_store/feature_repo"))
print(feast.store)

FeatureStore(
    repo_path=WindowsPath('c:/Users/mkrym/OneDrive/Documents/My Folders/my_main_portfolio/feature_store/feature_repo'),
    config=RepoConfig(project='my_project', provider='local', registry_config={'registry_type': 'sql', 'registry_store_type': 'PostgreSQLRegistryStore', 'path': 'postgresql+psycopg2://postgres:root@localhost:5432/house_price_predictor', 'cache_ttl_seconds': 60000, 'sqlalchemy_config_kwargs': {'echo': False, 'pool_pre_ping': True}}, online_config={'type': 'postgres', 'host': 'localhost', 'port': 5432, 'database': 'house_price_predictor_online', 'db_schema': 'public', 'user': 'postgres', 'password': 'root'}, auth={'type': 'no_auth'}, offline_config={'type': 'postgres', 'host': 'localhost', 'port': 5432, 'database': 'house_price_predictor', 'db_schema': 'public', 'user': 'postgres', 'password': 'root'}, batch_engine_config='local', feature_server=None, flags=None, repo_path=WindowsPath('c:/Users/mkrym/OneDrive/Documents/My Folders/my_main_portfolio/feature_store/feature_repo'), entity_key_serialization_version=3, coerce_tz_aware=True),
    registry=<feast.infra.registry.sql.SqlRegistry object at 0x0000021902A6CDD0>,
    provider=<feast.infra.passthrough_provider.PassthroughProvider object at 0x000002190299B9B0>
)

In [14]:
entity_df = feast.get_entity_dataframe(path=os.path.join(os.getcwd() + "/feature_store/data/house_target.parquet"))

In [15]:
entity_df

     house_id               event_timestamp     price
0           1 2025-08-28 06:01:34.824261000  13300000
1           2 2025-08-28 07:20:59.530150713  12250000
2           3 2025-08-28 08:40:24.236040426  12250000
3           4 2025-08-28 09:59:48.941930139  12215000
4           5 2025-08-28 11:19:13.647819852  11410000
..        ...                           ...       ...
540       541 2025-09-27 00:43:56.004706147   1820000
541       542 2025-09-27 02:03:20.710595860   1767150
542       543 2025-09-27 03:22:45.416485573   1750000
543       544 2025-09-27 04:42:10.122375287   1750000
544       545 2025-09-27 06:01:34.828265000   1750000

[545 rows x 3 columns]

In [16]:
features=[
        "house_features:area",
        "house_features:bedrooms",
        "house_features:mainroad",
        "house_features:bathrooms",
        "house_features:stories",
        "house_features:guestroom",
        "house_features:basement",
        "house_features:hotwaterheating",
        "house_features:airconditioning",
        "house_features:parking",
        "house_features:prefarea",
        "house_features:furnishingstatus",
]


hist_df = feast.get_historical_features(entity_df, features)
hist_df

,house_id,event_timestamp,price,area,bedrooms,mainroad,bathrooms,stories,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,1,2025-08-28 06:01:34.824261,13300000,NaN,NaN,None,NaN,NaN,None,None,None,None,NaN,None,None
1,2,2025-08-28 07:20:59.530150,12250000,NaN,NaN,None,NaN,NaN,None,None,None,None,NaN,None,None
2,3,2025-08-28 08:40:24.236040,12250000,NaN,NaN,None,NaN,NaN,None,None,None,None,NaN,None,None
3,4,2025-08-28 09:59:48.941930,12215000,NaN,NaN,None,NaN,NaN,None,None,None,None,NaN,None,None
4,5,2025-08-28 11:19:13.647819,11410000,NaN,NaN,None,NaN,NaN,None,None,None,None,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,541,2025-09-27 00:43:56.004706,1820000,NaN,NaN,None,NaN,NaN,None,None,None,None,NaN,None,None
541,542,2025-09-27 02:03:20.710595,1767150,NaN,NaN,None,NaN,NaN,None,None,None,None,NaN,None,None
542,543,2025-09-27 03:22:45.416485,1750000,NaN,NaN,None,NaN,NaN,None,None,None,None,NaN,None,None
543,544,2025-09-27 04:42:10.122375,1750000,NaN,NaN,None,NaN,NaN,None,None,None,None,NaN,None,None
544,545,2025-09-27 06:01:34.828265,1750000,NaN,NaN,None,NaN,NaN,None,None,None,None,NaN,None,None

In [17]:
from datetime import datetime
feast.materialize(datetime.now(), datetime.now() - timedelta(days=10))

Materializing 2 feature views from 2025-08-18 06:01:39+00:00 to 2025-08-28 06:01:39+00:00 into the postgres online store.

house_features_push:
house_features:

In [18]:
entity_rows = pd.DataFrame(entity_df["house_id"]).to_dict(orient="records")
online_df = feast.get_online_features(entity_rows, features)
online_df

,house_id,prefarea,bathrooms,bedrooms,stories,parking,airconditioning,furnishingstatus,mainroad,area,hotwaterheating,guestroom,basement
0,1,None,None,None,None,None,None,None,None,None,None,None,None
1,2,None,None,None,None,None,None,None,None,None,None,None,None
2,3,None,None,None,None,None,None,None,None,None,None,None,None
3,4,None,None,None,None,None,None,None,None,None,None,None,None
4,5,None,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,541,None,None,None,None,None,None,None,None,None,None,None,None
541,542,None,None,None,None,None,None,None,None,None,None,None,None
542,543,None,None,None,None,None,None,None,None,None,None,None,None
543,544,None,None,None,None,None,None,None,None,None,None,None,None
544,545,None,None,None,None,None,None,None,None,None,None,None,None

In [19]:
feast.materialize(end_date=datetime.now(), increment=True)

Materializing 2 feature views to 2025-08-28 06:01:40+00:00 into the postgres online store.

house_features_push from 2025-08-28 06:01:39+00:00 to 2025-08-28 06:01:40+00:00:
house_features from 2025-08-28 06:01:39+00:00 to 2025-08-28 06:01:40+00:00:

In [20]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus,event_timestamp,house_id
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished,2025-08-28 06:01:34.824261000,1
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished,2025-08-28 07:20:59.530150713,2
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished,2025-08-28 08:40:24.236040426,3
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished,2025-08-28 09:59:48.941930139,4
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished,2025-08-28 11:19:13.647819852,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished,2025-09-27 00:43:56.004706147,541
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished,2025-09-27 02:03:20.710595860,542
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished,2025-09-27 03:22:45.416485573,543
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished,2025-09-27 04:42:10.122375287,544
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished,2025-09-27 06:01:34.828265000,545

In [21]:
DataEncoder = DataEncoderFactory()

# Choose encoders
binary_encoder = DataEncoder.get_encoder("binary_custom")
categorical_encoder = DataEncoder.get_encoder("one_hot")
numerical_encoder = DataEncoder.get_encoder("numerical")

# Apply encodings in order
df = binary_encoder.encode(df, binary_cols)
df = categorical_encoder.encode(df, categorical_cols)   # furnishingstatus expands into dummies
df = numerical_encoder.encode(df, numerical_cols)

2025-08-28 06:01:40,552 - INFO - Applying Binary Custom Encoding.
2025-08-28 06:01:40,570 - INFO - Applying One Hot Encoding.
2025-08-28 06:01:40,570 - INFO - Applying One Hot Encoding.
2025-08-28 06:01:40,589 - INFO - Applying Numerical Scaling.

In [22]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,event_timestamp,house_id,furnishingstatus_furnished,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
0,4.566365,1.046726,1.403419,1.421812,1.378217,1,0,0,0,1,1.517692,1,2025-08-28 06:01:34.824261000,1,True,False,False
1,4.004484,1.757010,1.403419,5.405809,2.532024,1,0,0,0,1,2.679409,0,2025-08-28 07:20:59.530150713,2,True,False,False
2,4.004484,2.218232,0.047278,1.421812,0.224410,1,0,1,0,0,1.517692,1,2025-08-28 08:40:24.236040426,3,False,True,False
3,3.985755,1.083624,1.403419,1.421812,0.224410,1,0,1,0,1,2.679409,1,2025-08-28 09:59:48.941930139,4,True,False,False
4,3.554979,1.046726,1.403419,-0.570187,0.224410,1,1,1,0,1,1.517692,0,2025-08-28 11:19:13.647819852,5,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,-1.576868,-0.991879,-1.308863,-0.570187,-0.929397,1,0,1,0,0,1.517692,0,2025-09-27 00:43:56.004706147,541,False,False,True
541,-1.605149,-1.268613,0.047278,-0.570187,-0.929397,0,0,0,0,0,-0.805741,0,2025-09-27 02:03:20.710595860,542,False,True,False
542,-1.614327,-0.705921,-1.308863,-0.570187,-0.929397,1,0,0,0,0,-0.805741,0,2025-09-27 03:22:45.416485573,543,False,False,True
543,-1.614327,-1.033389,0.047278,-0.570187,-0.929397,0,0,0,0,0,-0.805741,0,2025-09-27 04:42:10.122375287,544,True,False,False
544,-1.614327,-0.599839,0.047278,-0.570187,0.224410,1,0,0,0,0,-0.805741,0,2025-09-27 06:01:34.828265000,545,False,False,True

In [23]:
entity_df

     house_id               event_timestamp     price
0           1 2025-08-28 06:01:34.824261000  13300000
1           2 2025-08-28 07:20:59.530150713  12250000
2           3 2025-08-28 08:40:24.236040426  12250000
3           4 2025-08-28 09:59:48.941930139  12215000
4           5 2025-08-28 11:19:13.647819852  11410000
..        ...                           ...       ...
540       541 2025-09-27 00:43:56.004706147   1820000
541       542 2025-09-27 02:03:20.710595860   1767150
542       543 2025-09-27 03:22:45.416485573   1750000
543       544 2025-09-27 04:42:10.122375287   1750000
544       545 2025-09-27 06:01:34.828265000   1750000

[545 rows x 3 columns]

In [24]:
df = df.drop(columns=['house_id' , 'event_timestamp'])  # Drop original column after one-hot encoding

In [25]:
from steps.training_model import *

In [26]:
#Train Linear Regression model on GridSearchCV
model = TrainingModel(df, target_column='price')
model.train_model()

2025-08-28 06:01:41,783 - INFO - Data split - Train: 436, Test: 109
2025-08-28 06:01:46,179 - INFO - MLflow initialized with experiment: House price prediction
2025-08-28 06:01:46,181 - INFO - Starting model training...
2025-08-28 06:02:05,986 - INFO - Training completed. Best params: {'fit_intercept': True}
2025-08-28 06:02:05,989 - INFO - Best CV score: 0.6470
2025-08-28 06:02:05,994 - INFO - Best model saved to ./models/best_model.pkl

In [27]:
#Get or create MLflow experiment
model.configure_mlflow()

2025-08-28 06:02:11,963 - INFO - MLflow experiment configured: House price prediction

In [28]:
#Log experiments and register model in MLflow 
model_info = model.register_model()

c:\Users\mkrym\OneDrive\Documents\My Folders\my_main_portfolio\venv\Lib\site-packages\mlflow\store\tracking\rest_store.py:262: DeprecationWarning: label() is deprecated. Use is_required() or is_repeated() instead.
  req_body = message_to_json(
2025/08/28 06:02:13 INFO mlflow.system_metrics.system_metrics_monitor: Started monitoring system metrics.
2025/08/28 06:02:13 INFO mlflow.system_metrics.system_metrics_monitor: Started monitoring system metrics.
c:\Users\mkrym\OneDrive\Documents\My Folders\my_main_portfolio\venv\Lib\site-packages\mlflow\store\tracking\rest_store.py:771: DeprecationWarning: label() is deprecated. Use is_required() or is_repeated() instead.
  req_body = message_to_json(
c:\Users\mkrym\OneDrive\Documents\My Folders\my_main_portfolio\venv\Lib\site-packages\mlflow\utils\proto_json_utils.py:121: DeprecationWarning: label() is deprecated. Use is_required() or is_repeated() instead.
  json_dict_with_int64_fields_only = _mark_int64_fields(message)
c:\Users\mkrym\OneDrive\Documents\My Folders\my_main_portfolio\venv\Lib\site-packages\mlflow\store\tracking\rest_store.py:771: DeprecationWarning: label() is deprecated. Use is_required() or is_repeated() instead.
  req_body = message_to_json(
c:\Users\mkrym\OneDrive\Documents\My Folders\my_main_portfolio\venv\Lib\site-packages\mlflow\utils\proto_json_utils.py:121: DeprecationWarning: label() is deprecated. Use is_required() or is_repeated() instead.
  json_dict_with_int64_fields_only = _mark_int64_fields(message)
c:\Users\mkrym\OneDrive\Documents\My Folders\my_main_portfolio\venv\Lib\site-packages\mlflow\store\tracking\rest_store.py:262: DeprecationWarning: label() is deprecated. Use is_required() or is_repeated() instead.
  req_body = message_to_json(
c:\Users\mkrym\OneDrive\Documents\My Folders\my_main_portfolio\venv\Lib\site-packages\mlflow\store\tracking\rest_store.py:262: DeprecationWarning: label() is deprecated. Use is_required() or is_repeated() instead.
  req_body = message_to_json(
c:\Users\mkrym\OneDrive\Documents\My Folders\my_main_portfolio\venv\Lib\site-packages\mlflow\store\tracking\rest_store.py:771: DeprecationWarning: label() is deprecated. Use is_required() or is_repeated() instead.
  req_body = message_to_json(
c:\Users\mkrym\OneDrive\Documents\My Folders\my_main_portfolio\venv\Lib\site-packages\mlflow\utils\proto_json_utils.py:121: DeprecationWarning: label() is deprecated. Use is_required() or is_repeated() instead.
  json_dict_with_int64_fields_only = _mark_int64_fields(message)
2025/08/28 06:02:15 WARNING mlflow.models.model: `artifact_path` is deprecated. Please use `name` instead.
c:\Users\mkrym\OneDrive\Documents\My Folders\my_main_portfolio\venv\Lib\site-packages\mlflow\store\tracking\rest_store.py:771: DeprecationWarning: label() is deprecated. Use is_required() or is_repeated() instead.
  req_body = message_to_json(
c:\Users\mkrym\OneDrive\Documents\My Folders\my_main_portfolio\venv\Lib\site-packages\mlflow\utils\proto_json_utils.py:121: DeprecationWarning: label() is deprecated. Use is_required() or is_repeated() instead.
  json_dict_with_int64_fields_only = _mark_int64_fields(message)
2025/08/28 06:02:15 WARNING mlflow.models.model: `artifact_path` is deprecated. Please use `name` instead.
c:\Users\mkrym\OneDrive\Documents\My Folders\my_main_portfolio\venv\Lib\site-packages\mlflow\models\model.py:423: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  self.utc_time_created = str(utc_time_created or datetime.utcnow())
c:\Users\mkrym\OneDrive\Documents\My Folders\my_main_portfolio\venv\Lib\site-packages\mlflow\models\model.py:423: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  self.utc_time_created = str(utc_time_created or datetime.utcnow())
2025/08/28 06:02:35 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.
2025/08/28 06:02:35 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.
2025-08-28 06:02:38,053 - INFO - Logged run 0 with params: {'fit_intercept': True}, mean_cv_score: 0.6470, std_test_score: 0.0367
2025-08-28 06:02:38,053 - INFO - Logged run 0 with params: {'fit_intercept': True}, mean_cv_score: 0.6470, std_test_score: 0.0367

🏃 View run child_run_0 at: http://localhost:5000/#/experiments/1/runs/990baf6f0d1d457f9a39ac67b9e2333b
🧪 View experiment at: http://localhost:5000/#/experiments/1

c:\Users\mkrym\OneDrive\Documents\My Folders\my_main_portfolio\venv\Lib\site-packages\mlflow\store\tracking\rest_store.py:771: DeprecationWarning: label() is deprecated. Use is_required() or is_repeated() instead.
  req_body = message_to_json(
c:\Users\mkrym\OneDrive\Documents\My Folders\my_main_portfolio\venv\Lib\site-packages\mlflow\utils\proto_json_utils.py:121: DeprecationWarning: label() is deprecated. Use is_required() or is_repeated() instead.
  json_dict_with_int64_fields_only = _mark_int64_fields(message)
2025/08/28 06:02:38 WARNING mlflow.models.model: `artifact_path` is deprecated. Please use `name` instead.
c:\Users\mkrym\OneDrive\Documents\My Folders\my_main_portfolio\venv\Lib\site-packages\mlflow\models\model.py:423: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  self.utc_time_created = str(utc_time_created or datetime.utcnow())
c:\Users\mkrym\OneDrive\Documents\My Folders\my_main_portfolio\venv\Lib\site-packages\mlflow\models\model.py:423: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  self.utc_time_created = str(utc_time_created or datetime.utcnow())
2025/08/28 06:02:46 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.
2025/08/28 06:02:46 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.
2025-08-28 06:02:50,863 - INFO - Logged run 1 with params: {'fit_intercept': False}, mean_cv_score: 0.6470, std_test_score: 0.0367
2025-08-28 06:02:50,863 - INFO - Logged run 1 with params: {'fit_intercept': False}, mean_cv_score: 0.6470, std_test_score: 0.0367
2025/08/28 06:02:50 WARNING mlflow.models.model: `artifact_path` is deprecated. Please use `name` instead.
2025/08/28 06:02:50 WARNING mlflow.models.model: `artifact_path` is deprecated. Please use `name` instead.

🏃 View run child_run_1 at: http://localhost:5000/#/experiments/1/runs/25fb16e9f3c54def841b63c95781f3b1
🧪 View experiment at: http://localhost:5000/#/experiments/1

Downloading artifacts:   0%|          | 0/7 [00:00<?, ?it/s]

Registered model 'house_price_prediction' already exists. Creating a new version of this model...
2025/08/28 06:03:03 INFO mlflow.store.model_registry.abstract_store: Waiting up to 300 seconds for model version to finish creation. Model name: house_price_prediction, version 4
2025/08/28 06:03:03 INFO mlflow.store.model_registry.abstract_store: Waiting up to 300 seconds for model version to finish creation. Model name: house_price_prediction, version 4
Created version '4' of model 'house_price_prediction'.
2025-08-28 06:03:03,242 - INFO - Model registered successfully with run ID: 68b9216f4f6b429799599e939e11a473
Created version '4' of model 'house_price_prediction'.
2025-08-28 06:03:03,242 - INFO - Model registered successfully with run ID: 68b9216f4f6b429799599e939e11a473
2025/08/28 06:03:03 INFO mlflow.system_metrics.system_metrics_monitor: Stopping system metrics monitoring...
2025/08/28 06:03:03 INFO mlflow.system_metrics.system_metrics_monitor: Stopping system metrics monitoring...

🏃 View run LinearReg_GridSearch_Best at: http://localhost:5000/#/experiments/1/runs/68b9216f4f6b429799599e939e11a473
🧪 View experiment at: http://localhost:5000/#/experiments/1

2025/08/28 06:03:04 INFO mlflow.system_metrics.system_metrics_monitor: Successfully terminated system metrics monitoring!

In [29]:
from serving.model_serving import BentoModel

bento_model = BentoModel()
model_name= bento_model.import_model("house_price_model", model_info.model_uri) #model_info is the mlflow object returned from register() method

2025-08-28 06:03:04,933 - INFO - Using the default model signature for MLflow ({'predict': {'batchable': False}}) for model "house_price_model".

Downloading artifacts:   0%|          | 0/7 [00:00<?, ?it/s]

2025-08-28 06:03:09,168 - INFO - HTTP Request: POST https://t.bentoml.com "HTTP/1.1 200 OK"

In [30]:
b_model = bento_model.load_model()

In [31]:
pred = bento_model.predict(model.X_test)
print(pred)

[ 0.21293937  1.31533313 -0.88663015 -0.08275915 -0.78774817 -0.66058708
  0.45220474  0.85695787 -1.09372683 -1.14373496  2.59552149 -1.0534692
 -0.85386257 -0.73423952 -0.58095325  0.26566727 -0.92617575  0.01037797
 -0.22324195 -0.63913553  0.53948395  0.59948127 -1.08945694 -0.02109075
  0.25585297  1.49224643 -0.82727004  0.22751879  1.80711533 -0.73200537
  0.92253585 -0.7767997   1.03906694 -0.30234074 -0.64705057  0.57271482
  0.02243855 -0.21611044 -0.84308185 -0.0910645  -0.10739227 -0.66834402
  1.30523131 -0.41907337 -0.54443095 -0.26328043  1.0652799  -0.39032477
 -0.53373049 -0.72193788  1.33871508 -1.05108947 -0.22741662 -0.13394554
 -0.58153707 -1.11721768  1.46158643 -0.98803459 -0.28208955 -1.07038975
  0.03990994 -0.63271539  0.20089207 -0.29156814 -0.03656012 -0.05583935
  1.29024606 -0.70343783  0.60774538  0.765959    0.00347283  0.22058064
 -0.14786478  1.7134741  -0.66747956  0.39341083 -0.43862797 -0.02818657
  0.01367887 -0.27619532  1.57937812 -0.38180522  0.90285693  0.31510416
 -1.07642553  1.08591752 -1.15557633 -0.58167556  1.71322725  1.7722004
 -0.8029631   0.60531143 -0.64068794 -0.48041596  1.50782141 -0.01398967
  0.19941076  0.88657121  0.07885042  0.65036829 -0.48787435  0.88487121
 -0.54455413  0.65922731  0.11055778 -0.23014562  1.22668458  0.87343698
  0.85468031]

In [32]:
X_sample = model.X_test.iloc[1:2]   # keep as DataFrame
with bentoml.SyncHTTPClient("http://localhost:3000") as client:
    result = client.predict(
        input_data=X_sample,
    )
    print(result)

ServiceUnavailable: Server is not ready after 30 seconds

In [33]:
from monitoring.monitoring import *

c:\Users\mkrym\OneDrive\Documents\My Folders\my_main_portfolio\venv\Lib\site-packages\evidently\utils\visualizations.py:15: DeprecationWarning: Please import `LinAlgError` from the `scipy.linalg` namespace; the `scipy.linalg.basic` namespace is deprecated and will be removed in SciPy 2.0.0.
  from scipy.linalg.basic import LinAlgError
c:\Users\mkrym\OneDrive\Documents\My Folders\my_main_portfolio\venv\Lib\site-packages\evidently\tests\utils.py:183: DeprecationWarning: numpy.core is deprecated and has been renamed to numpy._core. The numpy._core namespace contains private NumPy internals and its use is discouraged, as NumPy internals can change without warning in any release. In practice, most real-world usage of numpy.core is to access functionality in the public NumPy API. If that is the case, use the public NumPy API. If not, you are using NumPy internals. If you would still like to access an internal attribute, use numpy._core.numeric.
  np.core.numeric.ScalarType = np.core.numeric.ScalarType + (ApproxValue, ApproxValueNoDict)  # type: ignore[attr-defined]

In [34]:
monitor = Monitoring()
ws = monitor.create_workspace("monitoring workspace")
project = monitor.search_or_create_project("House Price Prediction Project", ws)
print(project)

id=UUID('0198f0e6-b359-7024-8092-d96b97224f3d') name='House Price Prediction Project' description=None dashboard=DashboardConfig(name='House Price Prediction Project', panels=[DashboardPanelCounter(type='evidently:dashboard_panel:DashboardPanelCounter', id=UUID('0198f0fa-56d7-7755-958e-ccf264d07028'), title='House price Monitoring dashboard', filter=ReportFilter(metadata_values={}, tag_values=[], include_test_suites=False), size=<WidgetSize.FULL: 2>, agg=<CounterAgg.NONE: 'none'>, value=PanelValue(field_path='', metric_id=None, metric_fingerprint=None, metric_args={}, legend=''), text=''), DashboardPanelCounter(type='evidently:dashboard_panel:DashboardPanelCounter', id=UUID('0198f0fa-ef3f-77a8-becc-5087461904b9'), title='Number of columns', filter=ReportFilter(metadata_values={}, tag_values=[], include_test_suites=False), size=<WidgetSize.HALF: 1>, agg=<CounterAgg.LAST: 'last'>, value=PanelValue(field_path='number_of_columns', metric_id='DatasetDriftMetric', metric_fingerprint=None, metric_args={}, legend=''), text=''), DashboardPanelCounter(type='evidently:dashboard_panel:DashboardPanelCounter', id=UUID('0198f0fa-f072-7e28-9d43-d2ac97bbb302'), title='Number of drifted columns', filter=ReportFilter(metadata_values={}, tag_values=[], include_test_suites=False), size=<WidgetSize.HALF: 1>, agg=<CounterAgg.LAST: 'last'>, value=PanelValue(field_path='number_of_drifted_columns', metric_id='DatasetDriftMetric', metric_fingerprint=None, metric_args={}, legend=''), text=''), DashboardPanelCounter(type='evidently:dashboard_panel:DashboardPanelCounter', id=UUID('0198f0fa-f176-720d-8316-09d9a08a6120'), title='Target column drift score', filter=ReportFilter(metadata_values={}, tag_values=[], include_test_suites=False), size=<WidgetSize.HALF: 1>, agg=<CounterAgg.LAST: 'last'>, value=PanelValue(field_path='drift_score', metric_id='ColumnDriftMetric', metric_fingerprint=None, metric_args={}, legend=''), text=''), DashboardPanelCounter(type='evidently:dashboard_panel:DashboardPanelCounter', id=UUID('0198f0fa-f25c-7dd8-b6c4-57a5496efa57'), title='Number of missing values - Current', filter=ReportFilter(metadata_values={}, tag_values=[], include_test_suites=False), size=<WidgetSize.HALF: 1>, agg=<CounterAgg.LAST: 'last'>, value=PanelValue(field_path='current.number_of_missing_values', metric_id='DatasetMissingValuesMetric', metric_fingerprint=None, metric_args={}, legend='Current - missing values'), text=''), DashboardPanelPlot(type='evidently:dashboard_panel:DashboardPanelPlot', id=UUID('0198f0fb-5d81-7f32-bdf9-85821ad2beb0'), title='Share of drifted columns', filter=ReportFilter(metadata_values={}, tag_values=[], include_test_suites=False), size=<WidgetSize.HALF: 1>, values=[PanelValue(field_path='share_of_drifted_columns', metric_id='DatasetDriftMetric', metric_fingerprint=None, metric_args={}, legend='share')], plot_type=<PlotType.LINE: 'line'>), DashboardPanelPlot(type='evidently:dashboard_panel:DashboardPanelPlot', id=UUID('0198f0fb-5e9f-7d59-9807-4ca13567263c'), title='R2 score - Current vs Reference', filter=ReportFilter(metadata_values={}, tag_values=[], include_test_suites=False), size=<WidgetSize.HALF: 1>, values=[PanelValue(field_path='current.r2_score', metric_id='RegressionQualityMetric', metric_fingerprint=None, metric_args={}, legend='R2 Current'), PanelValue(field_path='reference.r2_score', metric_id='RegressionQualityMetric', metric_fingerprint=None, metric_args={}, legend='Reference R2')], plot_type=<PlotType.LINE: 'line'>), DashboardPanelPlot(type='evidently:dashboard_panel:DashboardPanelPlot', id=UUID('0198f0fb-5fb5-76dc-83eb-5b99027fd0ef'), title='MAE score - Current vs Reference', filter=ReportFilter(metadata_values={}, tag_values=[], include_test_suites=False), size=<WidgetSize.HALF: 1>, values=[PanelValue(field_path='current.mean_abs_error', metric_id='RegressionQualityMetric', metric_fingerprint=None, metric_args={}, legend='MAE'), PanelValue(field_path='reference.mean_abs_error', metric_id='RegressionQualityMetric', metric_fingerprint=None, metric_args={}, legend='Reference MAE')], plot_type=<PlotType.LINE: 'line'>)], tabs=[], tab_id_to_panel_ids={}) team_id=None org_id=None date_from=None date_to=None created_at=datetime.datetime(2025, 8, 28, 3, 38, 27, 801443) version='1'

In [35]:
reference = model.X_train.copy()
reference["price"] = model.y_train.copy()
current = model.X_test.copy()
current["price"] = model.y_test.copy()
	
monitor.set_strategy = DataDriftReport()
drift_report = monitor.execute_strategy(reference, current, ws)

c:\Users\mkrym\OneDrive\Documents\My Folders\my_main_portfolio\venv\Lib\site-packages\evidently\report\report.py:72: DeprecationWarning: timestamp argument is deprecated, use timestamp in run() method
  warnings.warn("timestamp argument is deprecated, use timestamp in run() method", DeprecationWarning)

Report Created successfully!!

In [36]:
y_train_pred = model.predict(model.X_train)
y_pred = model.predict(model.X_test)
	
reference_with_pred = reference.copy()
reference_with_pred["prediction"] = y_train_pred
	
current_with_pred = current.copy()
current_with_pred["prediction"] = y_pred

In [37]:
from evidently import ColumnMapping
column_mapping = ColumnMapping()
column_mapping.target = "price"
column_mapping.prediction = "prediction"
	
monitor.set_strategy = RegressionReport()
reg_report = monitor.execute_strategy(reference_with_pred, current_with_pred, ws, column_mapping)

Report Created successfully!!

In [38]:
monitor.set_strategy = DataDriftTestReport()
test_report = monitor.execute_strategy(reference, current, ws)

Report Created successfully!!

In [39]:
from evidently.ui.dashboards import CounterAgg, PlotType
from evidently.renderers.html_widgets import WidgetSize

monitor.add_dashboard_panel(
    project, panel_type="Counter", 
    title = "House price Monitoring dashboard",
    tags = [],  
    metric_id = None,
    field_path = "",
    legend = "",
    text = "",
    agg = CounterAgg.NONE,
    size = WidgetSize.FULL
)

Panel Counter created!!

In [40]:
#To get the number of columns in dataset
monitor.add_dashboard_panel(
    project, panel_type="Counter", 
    title = "Number of columns",
    tags = [],  
    metric_id = "DatasetDriftMetric",
    field_path = "number_of_columns",
    legend = "",
    text = "",
    agg = CounterAgg.LAST,
    size = WidgetSize.HALF
)

#To get the number of drifted columns
monitor.add_dashboard_panel(
    project, panel_type="Counter", 
    title = "Number of drifted columns",
    tags = [],  
    metric_id = "DatasetDriftMetric",
    field_path = "number_of_drifted_columns",
    legend = "",
    text = "",
    agg = CounterAgg.LAST,
    size = WidgetSize.HALF
)

#To get the target column drift score
monitor.add_dashboard_panel(
    project, panel_type="Counter", 
    title = "Target column drift score",
    tags = [],  
    metric_id = "ColumnDriftMetric",
    field_path = "drift_score",
    legend = "",
    text = "",
    agg = CounterAgg.LAST,
    size = WidgetSize.HALF
)


#To get the number of missing columns 
monitor.add_dashboard_panel(
    project, panel_type="Counter", 
    title = "Number of missing values - Current",
    tags = [],  
    metric_id = "DatasetMissingValuesMetric",
    field_path = "current.number_of_missing_values",
    metric_args = {},
    legend = "Current - missing values",
    size = WidgetSize.HALF,
    agg = CounterAgg.LAST,
    text = ""
)

Panel Counter created!!
Panel Counter created!!
Panel Counter created!!
Panel Counter created!!

In [41]:

#Plot the share of drifted columns
monitor.add_dashboard_panel(
    project, panel_type="Plot", 
    title = "Share of drifted columns",
    tags = [],  
    metric_id = "DatasetDriftMetric",
    field_path = "share_of_drifted_columns",
    metric_args = {},
    legend = "share",
    plot_type = PlotType.LINE,
    size = WidgetSize.HALF,
    agg = CounterAgg.SUM
)

#Plot R2 score - reference vs current
monitor.add_dashboard_panel(
    project, panel_type="MultiPlot", 
    title = "R2 score - Current vs Reference",
    tags = [],  
    metric_id = "RegressionQualityMetric",
    field_path = "current.r2_score",
    metric_args = {},
    legend = "R2 Current",
    metric_id_2 = "RegressionQualityMetric",
    field_path_2 = "reference.r2_score",
    metric_args_2 = {},
    legend_2 = "Reference R2",
    plot_type = PlotType.LINE,
    size = WidgetSize.HALF,
    agg = CounterAgg.SUM
)

#Plot MAE score - reference vs current
monitor.add_dashboard_panel(
    project, panel_type="MultiPlot", 
    title = "MAE score - Current vs Reference",
    tags = [],  
    metric_id = "RegressionQualityMetric",
    field_path = "current.mean_abs_error",
    metric_args = {},
    legend = "MAE",
    metric_id_2 = "RegressionQualityMetric",
    field_path_2 = "reference.mean_abs_error",
    metric_args_2 = {},
    legend_2 = "Reference MAE",
    plot_type = PlotType.LINE,
    size = WidgetSize.HALF,
    agg = CounterAgg.SUM
)

Panel Plot created!!
Panel MultiPlot created!!
Panel MultiPlot created!!

In [43]:
monitor.add_dashboard_panel(project, panel_type="TestSuite")

Panel TestSuite created!!